@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'AvertaStd';
  src: url('https://db.onlinewebfonts.com/t/1064f0ad1cb65fdab43bb592ddd8aa91.eot');
  src: url('https://db.onlinewebfonts.com/t/1064f0ad1cb65fdab43bb592ddd8aa91.eot?#iefix') format('embedded-opentype'),
       url('https://db.onlinewebfonts.com/t/1064f0ad1cb65fdab43bb592ddd8aa91.woff2') format('woff2'),
       url('https://db.onlinewebfonts.com/t/1064f0ad1cb65fdab43bb592ddd8aa91.woff') format('woff'),
       url('https://db.onlinewebfonts.com/t/1064f0ad1cb65fdab43bb592ddd8aa91.ttf') format('truetype'),
       url('https://db.onlinewebfonts.com/t/1064f0ad1cb65fdab43bb592ddd8aa91.svg#AvertaStd') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvertaStd';
  src: url('/fonts/AvertaStd-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvertaStd';
  src: url('/fonts/AvertaStd-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvertaStd';
  src: url('/fonts/AvertaStd-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@tailwind base;
@tailwind components;
@tailwind utilities;